.africlean-button {
  width: max-content;
  height: max-content;
  padding: 0.2rem;
  border-radius: 8px;
  cursor: pointer;

  // 4 classes permettant de changer le theme des composantes(Boutons)
  &.style-button-consult-abonnement {

    background:linear-gradient(130deg, var(--ion-color-consult-abonnement-lighter), var(--ion-color-consult-abonnement));
    box-shadow: 1px 1px 8px var(--ion-color-consult-abonnement);
  }

  &.style-button-manage-incidents {

    background:linear-gradient(130deg, var(--ion-color-manage-incidents-lighter), var(--ion-color-manage-incidents));
    box-shadow: 1px 1px 8px var(--ion-color-manage-incidents);
  }

  &.style-button-consult-informations{

    background:linear-gradient(130deg, var(--ion-color-consult-informations-lighter), var(--ion-color-consult-informations));
    box-shadow: 1px 1px 8px  var(--ion-color-consult-informations);
  }

  &.style-button-manage-passage{

    background:linear-gradient(130deg, var(--ion-color-manage-passage-lighter), var(--ion-color-manage-passage));
    box-shadow: 1px 1px 8px var(--ion-color-manage-passage);
  }



  &.style-button-consult-client {

    background:linear-gradient(130deg, var(--ion-color-consult-client-management-lighter), var(--ion-color-client-management));
    box-shadow: 1px 1px 8px var(--ion-color-client-management);
  }

  &.style-button-consult-employe {

    background:linear-gradient(130deg, var(--ion-color-consult-employe-management-lighter), var(--ion-color-employe-management));
    box-shadow: 1px 1px 8px var(--ion-color-employe-management);
  }

  &.style-button-consult-finance{

    background:linear-gradient(130deg, var(--ion-color-consult-finance-management-lighter), var(--ion-color-finance-management));
    box-shadow: 1px 1px 8px  var(--ion-color-finance-management);
  }

  &.style-button-consult-logistic{
    background:linear-gradient(130deg, var(--ion-color-consult-logistic-management-lighter), var(--ion-color-logistic-management));
    box-shadow: 1px 1px 8px var(--ion-color-logistic-management);
  }

  .content-button {

    height: 100%;
    width: inherit;
    border-radius: 0.65rem;
    flex-direction: column;
    display: flex;
    align-items: center;

    // Personnalisation du titre et du sous-titre
    .text-div {
      color: var(--ion-color-white);
      flex-direction: column;
      display: flex;
      align-items: center;
      text-align: center;
      padding-top: 1rem;

      .title {
        font-size: 1.1rem;
        white-space: pre-wrap;
        line-height: 1;
      }
    }

  }

}
