.content-page{

    .password{

        width: max-content;
        margin: auto;
        margin-top: 1rem;
        
        ion-label{
            color: var(--ion-color-grey-lighter);
        }

        .button{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}