
.connect-title {
  align-content: center !important;
  font-size: 20px !important;
  background-color: #00C4F8!important;
  color: white;
}

.social-logo {
  font-size: 14px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.close {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}
