.blur {
    filter: blur(1rem);
    transition: all 0.2s ease-out;
  }
  .no-blur {
    filter: blur(0rem);
    transition: all 0.2s ease-out;
  }

.footer-page{

  .content-page{
    // border:1px blue!important;
    // color: var(--ion-color-white);
    height: 15% !important;
    background-color: var(--ion-color-footer);
    color: black;
    font-family: Raleway;
    font-size: 0.9rem;
    justify-content: space-evenly;
    box-shadow: 3px 1px var(--ion-color-gris-bold), 0em 0 0.4em var(--ion-color-gris-bold);
    border: none;

    .contact-info {

      display: flex;
      flex-direction: column;

      .contact {
        font-weight: bold;
      }

    }

    .social-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .conditions-use {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      ion-label:hover{
        color: var(--ion-color-principal);
      }
    }

    // .link{
    //   cursor: pointer;
    // }

    // ion-tab-button{
    //   margin: 0 !important;
    //   // background-color: var(--ion-color-footer);
    //   // color: var(--ion-color-white);
    //   background-color: var(--ion-color-footer);
    //   color: black;
    // }
    // .contact {
    //   // cursor: pointer;
    //   font-size: 0.6rem!important;
    //   font-weight: bold;
    //   // color: var(--ion-color-white);
    // }
    // .social {
    //   cursor: pointer;
    //   display: flex;
    //   align-content: space-between;
    //   flex-direction: row;
    //   font-size: 0.6rem!important;
    //   color: var(--ion-color-white);
    //   margin: 0!important;
    //   .icon {
    //     height: 10%!important;
    //     width: 10%!important;
    //     font-weight: bold;
    //     margin-bottom: 0!important;
    //   }

    // }
    // .adress{
    //   // cursor: pointer;
    //   font-size: 0.6rem!important;
    //   // color: var(--ion-color-white);
    // }

    // .use-conditions, .confidential {
    //   font-weight: normal;
    // }
  }

  .cookie-message {
    text-align: center;
    font-size: 0.8rem;

    button {
      margin-left: 1rem;
    }
  }

}
