.container{

        .content-page{
            background-color: var(--ion-color-gris);
            height: 100vh;
            padding-bottom: 35rem;
            margin-top: 12vh;
        }

}