<div class="container" scrollY="true">
    <div class="content-page">

        <!-- Fermeture de la modal -->
        <div class="close" (click)="closeModal()">
            X
        </div>
      <ion-item></ion-item>
        <ion-label class="title-block mt-2">
            <strong><u>
                Conditions générales d'utilisation du Site Afriflash
            </u></strong>
        </ion-label>
      <br>

        <ion-text class="mt-2 text-block-style">

            L’utilisation du Site AfriFlash implique l’acceptation sans réserve des présentes conditions générales
            d’utilisation, qui sont susceptibles d'évolution. Les utilisateurs sont donc invités à les consulter de
            manière régulière.
            <br>
            Le Site est accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique
            ou pour toute autre raison peut toutefois être décidée par l’Éditeur, qui s’efforcera d'informer
            préalablement les utilisateurs.
            <br>
            Dans le cadre des présentes, le terme Utilisateur désigne toute personne accédant au Site AfriFlash.
            Ensuite, le terme Éditeur désigne AfriClean Services SAS propriétaire du Site AfriFlash. Enfin, le terme
            Site AfriFlash désigne le site web sécurisé édité par AfriClean et accessible à l'adresse URL :
            <span class="link-style"><a href="http://www.afriflash.com/">http://www.afriflash.com/</a></span>
        </ion-text>

      <ion-item></ion-item>

        <ion-label class="title-block">
            <strong><u>
                Accès aux services du Site
            </u></strong>
        </ion-label>
        <br>
        <ion-text class="mt-2 text-block-style">
            Le Site AfriFlash est accessible gratuitement en tout lieu et à tout Utilisateur ayant accès à internet sans
            s'inscrire. Toutefois, l'accès à certains services exige l'inscription de l'Utilisateur.
            L'Utilisateur peut effectuer une action de Recherche sur le Site ou contacter l'Éditeur sans avoir besoin de
            s'inscrire sur le Site.

            En revanche, pour publier une annonce ou afficher ses annonces, l'Utilisateur doit nécessairement s'inscrire
            sur le Site. Pour s'inscrire, l'Utilisateur procède avec un e-mail personnel valide en créant son mot de
            passe personnel. Il peut aussi s'inscrire via son compte Facebook ou son compte Google.
        </ion-text>

      <ion-item></ion-item>


        <ion-label class="title-block">
            <strong><u>
                Description des services fournis
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Les services fournis à l'Utilisateur sur le Site AfriFlash sont les suivants :

            <p>
                Publier une annonce : permet à l'Utilisateur de publier une annonce mobilière, immobilière ou encore une
                annonce de prestation de services sur le site AfriFlash. Pour publier une annonce, l’Utilisateur doit
                préalablement se connecter à son espace.
            </p>

            <p>
                Rechercher: permet à l'Utilisateur de visualiser les annonces publiées sur le Site AfriFlash.
                L’Utilisateur dispose de plusieurs paramètres de filtrage pour peaufiner sa recherche.
            </p>

            <p>
                Mes annonces : permet à l'Utilisateur authentifié d'afficher toutes ses annonces publiées, de les
                modifier
                ou de les supprimer.
            </p>
            <p>
                Se connecter : permet à l'Utilisateur de s'identifier sur le Site AfriFlash pour accéder aux services
                qui exigent une authentification.
            </p>
            <p>
                Contact : permet à l'Utilisateur de contacter l'administrateur du Site AfriFlash en renseignant le
                formulaire de contact.
            </p>
        </ion-text>

      <ion-item></ion-item>

        <ion-label class="title-block">
            <strong><u>
                Propriété intellectuelle
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Les signes distinctifs du Site AfriFlash tels que les marques, dessins et logos sont protégés par des droits
            de propriété intellectuelle.
            <br>
            La reproduction, l'imitation et l'exploitation partielle ou totale de ces signes, sans l'autorisation écrite
            de l'Éditeur, sont strictement interdites
            <br>
            En revanche, les annonces publiées le Site restent la propriété de l'Utilisateur les ayant publiées.
          <br>
            Le fait pour l’éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non
            autorisées ne vaut pas leur acceptation et la renonciation aux poursuites.
        </ion-text>
      <ion-item></ion-item>

        <ion-label class="title-block">
            <strong><u>
                Limitation de responsabilité
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">

            La responsabilité de l’Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption
            de fonctionnement empêchant l’accès au Site ou à une de ses fonctionnalités.
            <br>
            L’Éditeur ne pourra être tenu pour responsable des dommages de quelque nature qu’ils soient causés au
            matériel de l’Utilisateur, lors de l’accès au Site. De plus, l’Utilisateur du Site s’engage à accéder au
            Site en utilisant un matériel n'altérant pas le fonctionnement normal du Site, donc ne contenant pas de
            virus.
            <br>
            L’Éditeur ne pourra en aucun cas être tenu pour responsable de tout dommage de quelque nature qu’il soit
            résultant de l’interprétation ou de l’utilisation des informations disponibles sur ce Site.
            <br>
            L’Éditeur décline toute responsabilité quant au contenu des sites proposés en lien avec ce Site, dit « site
            liant ou lien hypertexte ». L’Éditeur se réserve le droit de s’opposer à l'établissement de ce lien.
            <br>
            L'Éditeur décline également toute responsabilité quant au contenu des annonces publiées sur le Site par
            l'Utilisateur qui demeure seul responsable de ses actions sur le Site.
            <br>
            La responsabilité de l'Éditeur ne saurait être engagée en cas de force majeure ou du fait imprévisible et/ou
            insurmontable d’un tiers ou résultant de circonstances épidémiques ou pandémiques.
        </ion-text>

      <ion-item></ion-item>

        <ion-label class="title-block">
            <strong><u>
                Suspension d'accès au Site
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            L'Éditeur se réserve le droit d’interrompre de façon temporaire ou définitive de tout ou partie l'accès au
            Site ou à certains services pour des raisons liées à la sécurité de l'Utilisateur ou à un manquement à l’une
            de ses obligations conformément aux présentes conditions.
            <br>
            Cette suspension se fera de plein droit, sans préjudice des dommages et intérêts que l'Éditeur pourrait
            solliciter. Les éléments de preuve recueillis à l’occasion de l'utilisation du Site dans le cadre des
            présentes conditions pourront être conservés à des fins utiles par l'Éditeur dans la limite des délais
            légaux de prescription applicables.
        </ion-text>
      <ion-item></ion-item>

        <ion-label class="title-block">
            <strong><u>
                Loi applicable et juridiction compétente
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            En cas de litige relatif à l’interprétation, la validité ou l’exécution des présentes conditions générales
            d'utilisation, l'Éditeur et l’Utilisateur reconnaissent que seul le droit guinéen est applicable.

            <br>
            En cas de désaccord persistant, et à défaut d'accord amiable, tout litige relèvera des tribunaux compétents
            guinéens.

            <br>
            Cette clause s’applique même en cas de référé, de demande incidente ou de pluralité de défendeurs ou d’appel
            en garantie, sans que les clauses attributives de juridiction pouvant exister sur les documents de
            l’Utilisateur puissent mettre obstacle à l’application de la présente clause.

        </ion-text>

      <ion-item></ion-item>

        <ion-label class="title-block">
            <strong><u>
                Loi applicable et juridiction compétente
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Pour toute question ou réclamation concernant le fonctionnement du Site et l'utilisation de ses services,
            l’Utilisateur peut contacter l'Éditeur aux coordonnées suivantes :
                <li>
                    par le formulaire de contact:<span class="link-style"><a href="http://www.afriflash.com/">http://www.afriflash.com/contact</a></span>
                </li>
                <li>
                    par téléphone au +224 626853272 (appel non surtaxé) du lundi au vendredi de 09 à 18 et le samedi de
                    09 à 18, horaire Guinée, hors jours fériés Guinée.
                </li>
                <li>
                    par courrier adressé à : Demoudoula Kaporo Rails/Commune Ratoma (Guinée)
                </li>

        </ion-text>
      <ion-item></ion-item>

    </div>
</div>
