<div class="container" scrollY="true">
    <div class="content-page">

        <!-- Fermeture de la modal -->
        <div class="close" (click)="closeModal()">
            X
        </div>
        <ion-item></ion-item>
        <ion-label class="title-block mt-2">
            <strong><u>
                Politique de confidentialité du Site Afriflash
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            L'Éditeur met en place une politique de protection de vos données personnelles conformément à la loi n° 037
            du 28 juillet 2016 en République de Guinée.
        </ion-text>
        <br>
        <ion-label class="title-block">
            <strong><u>
                Définitions
            </u></strong>
        </ion-label>
        <br>
        <ion-text class="mt-2 text-block-style">
            Au sens de la présente politique, on entend par :
            <br>
            <li>
                <strong> Donnée personnelle ou une donnée à caractère personnel</strong>, "toute information relative à
                vous (personne physique) et qui permet de vous identifier directement ou indirectement".
            </li>
            <li>
                <strong>Traitement de donnée personnelle </strong>, "toute opération ou tout ensemble d'opérations
                portant sur de telles données, quel que soit le procédé utilisé, et notamment la collecte,
                l'enregistrement, l'organisation, la conservation, l'adaptation ou la modification, l'extraction, la
                consultation, l'utilisation, la communication par transmission, diffusion ou toute autre forme de mise à
                disposition, le rapprochement ou l'interconnexion, ainsi que le verrouillage, l'effacement ou la
                destruction".
            </li>
            <li>
                <strong>Utilisateur</strong>, la personne concernée par un traitement de donnée personnelle.
            </li>
        </ion-text>

        <br>

        <ion-label class="title-block">
            <strong><u>
                Base légale du traitement de vos données
            </u></strong>
        </ion-label>
        <br>
        <ion-text class="mt-2 text-block-style">
            La base légale des traitements effectués par l'Editeur du Site AfriFlash est, soit :
            <li>
                le consentement de l'Utilisateur,
            </li>
            <li>
                le respect d’une obligation légale à laquelle l'Éditeur est soumis,
            </li>
            <li>
                l’exécution d’un contrat auquel l'utilisateur concerné est partie ou l’exécution de mesures
                précontractuelles prises à la demande de celui-ci.
            </li>
        </ion-text>
        <br>
        <ion-label class="title-block">
            <strong><u>
                Finalités du traitement de vos données
            </u></strong>
        </ion-label>
        <br>
        <ion-text class="mt-2 text-block-style">
            Le traitement a pour objet de répondre aux finalités suivantes :
            <li>
                proposer des offres et des services adaptés aux besoins des utilisateurs,
            </li>
            <li>
                réaliser des études de statistiques et de visites des sites internet,
            </li>
            <li>
                mettre en place des opérations de prospection commerciale au bénéfice des utilisateurs et à des tierces
                personnes,
            </li>
            <li>
                garantir le suivi et le traitement des demandes et réclamations des utilisateurs,
            </li>
            <p>
                Certaines des finalités listées ci-dessus peuvent requérir votre consentement. Dans ce cas, le recueil
                du consentement se fera au moment de la collecte des données. Si l'Éditeur envisage de traiter vos
                données pour d’autres finalités que celles listées ci-dessus, il s’engage à informer les utilisateurs
                concernés et à recueillir leur consentement préalable si celui-ci est requis conformément à la loi en
                vigueur relative à la protection des données.
                <br>
                Les utilisateurs concernés sont informés que le consentement n’est pas requis lorsque le traitement est
                nécessaire à l’exécution d’un contrat auquel il est partie. Il en est de même pour l’exécution de
                mesures précontractuelles prises à la demande de l'utilisateur concerné.
            </p>
        </ion-text>
        <br>


        <ion-label class="title-block">
            <strong><u>
                Catégories des données traitées
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Les données traitées peuvent porter sur des :
            <li>
                données d’identification des utilisateurs comme nom, prénom, identifiant, mot de passe et adresse
                électronique,
            <li>
                données d’utilisation du Site telles que adresse IP, navigateur utilisé, système d’exploitation, dates,
                horaires et temps de connexion sur le Site; données d’authentification collectées au moyen de cookies,
            </li>


            <li>
                données nécessaires à l'utilisation des services d'AfriFlash par l'Utilisateur,
            </li>
            <li>
                échanges entre AfriFlash et ses utilisateurs,
            </li>
            <li>
                échanges entre l'Utilisateur publiant des annonces sur le Site et l'Utilisateur désirant en profiter,
            </li>
            <li>
                échanges entre AfriFlash et ses prestataires, sous-traitants.
            </li>

        </ion-text>
        <br>

        <ion-label class="title-block">
            <strong><u>
                Personnes concernées par le traitement
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Le traitement de données concerne :
            <li>
                les utilisateurs qui créent un Compte pour publier une ou des annonces sur le Site AfriFlash.
            <li>
                les utilisateurs du Site AfriFlash pour rechercher des annonces en vue de profiter des services
                proposés.
            </li>
        </ion-text>
        <br>


        <ion-label class="title-block">
            <strong><u>
                Destinataires des données traitées

            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Les données traitées sont destinées aux services concernés de l'Éditeur pour la réalisation des finalités
            énumérées ci-dessus.
            Ces données peuvent être transférées à des sous-traitants établis en dehors de la Guinée et éventuellement
            vers des pays tiers (hors espace CEDEAO), conformément aux dispositions légales et réglementaires
            applicables et moyennant des garanties appropriées.
        </ion-text>
        <br>

        <ion-label class="title-block">
            <strong><u>
                Durée de conservation des données
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            L'Éditeur conserve les données dans un cadre sécurisé pendant la durée nécessaire à la réalisation des
            finalités de traitement indiquées précédemment.
            <br>
            A l’issue du délai de prescription applicable, les données feront l’objet soit d’une anonymisation, soit
            d’un effacement dans des conditions appropriées.
            <br>
            L'Éditeur veillera à apporter toute la diligence nécessaire pour garantir la confidentialité et la sécurité
            des données.
        </ion-text>
        <br>


        <ion-label class="title-block">
            <strong><u>
                Sécurité des données traitées
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            L'Éditeur met en œuvre des mesures de sécurité pour empêcher notamment que vos données collectées sur le
            Site AfriFlash ne soient endommagées, effacées ou que des tiers non autorisés y aient accès. Néanmoins, il
            ne pourra garantir une totale absence de failles, notamment en raison des évolutions des techniques
            d’intrusion mises en œuvre par les contrevenants.
            <br>
            En cas d’incident de sécurité affectant vos données personnelles (destruction, perte, altération ou
            divulgation), l'Éditeur s’engage à prendre toutes les mesures nécessaires afin d’y remédier. À la survenance
            d’un tel incident, l'Éditeur vous informe et signale l'incident à l'Autorité de Protection dans les délais
            impartis.
        </ion-text>
        <br>


        <ion-label class="title-block">
            <strong><u>
                Vos droits de recours
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Vous pouvez accéder et obtenir copie des données vous concernant, vous opposer au traitement de ces données,
            les faire rectifier ou les faire effacer. Vous disposez également d'un droit à la limitation du traitement
            de vos données ainsi que le droit à la portabilité de vos données collectées, sous réserve de remplir les
            conditions requises.
        </ion-text>
        <br>

        <ion-label class="title-block">
            <strong><u>
                Exercice de vos droits
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">

            Le responsable du traitement des données vous concernant est l'Éditeur (AfriClean) que vous pouvez contactez
            à l'adresse ci dessous pour toute demande d'exercice de vos droits sur ce traitement :
            <br>
            <li>Mail: <span class="link-style">afriflash@gmail.com</span></li>
            <br>
            Pour exercer ses droits, l'Utilisateur devra justifier de son identité. L'Éditeur s’engage à répondre à vos
            demandes d’exercice de vos droits dans les meilleurs délais et en tout état de cause dans le respect des
            délais légaux.
            <br>
            Réclamation (plainte) auprès de l'Autorité de Protection
            <br>
            Si vous estimez, après avoir contacté l'Éditeur, que vos droits sur vos données ne sont pas respectés, vous
            pouvez adresser une réclamation à l'Autorité de Protection à l'adresse suivante:…
            <br>
            Protection de la vie privée des enfants en ligne (À discuter sur l'intérêt de...)
            <br>
            L'Éditeur déclare se conformer aux prescriptions de la COPPA (Childrens Online Privacy Protection Act), loi
            américaine de 1998. L'Éditeur du Site AfriFlash ne traite que les données personnelles des utilisateurs âgés
            d'au moins 13 ans ou plus.
            <br>
        </ion-text>
        <br>

        <ion-label class="title-block">
            <strong><u>
                Utilisation des cookies par l'Éditeur
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Le Site AfriFlash utilise des cookies pour fournir à l'Utilisateur une expérience optimale et adaptée à ses
            préférences. L’Utilisateur peut faire le choix d’accepter ou de REFUSER les cookies suivant les modalités
            définies par l'Éditeur.
            <br>
            <strong> Définition d'un cookie : </strong> &nbsp; Un cookie désigne un petit fichier informatique, un
            traceur qui permet d'analyser le comportement de l'Utilisateur lors de la visite du site AfriFlash.
            <br>
        </ion-text>
        <br>

        <ion-label class="title-block">
            <strong><u>
                Les différents cookies utilisés
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">

            <strong>Les cookies techniques de navigation: </strong> &nbsp;Ils permettent d'optimiser la performance du
            Site. Si vous avez choisi de désactiver ces cookies via votre navigateur internet, l’accès à nos services
            pourrait alors se révéler altéré. Nous vous conseillons donc de les laisser actifs pour profiter pleinement
            de nos services et de votre navigation sur notre site.
            <br>
            <strong>Le cookie de mesure d’audience et de suivi de navigation: </strong> &nbsp; Il permet de collecter
            des données statistiques anonymes de fréquentation du Site AfriFlash afin d’améliorer son ergonomie. Il
            nécessite le consentement de l’Utilisateur.
            <br>

            <strong>Les cookies de publicité ciblée: </strong> &nbsp;Déposés par l'Éditeur sur le Site AfriFlash, ils
            permettent de proposer à l’Utilisateur des publicités adaptées à ses centres d'intérêts. Ils nécessitent le
            consentement de l’Utilisateur.
            <br>
            <strong>Les cookies de bouton de partage sur les réseaux sociaux: </strong> &nbspIl permet de collecter
            des données statistiques anonymes de fréquentation du Site AfriFlash afin d’améliorer son ergonomie. Il
            nécessite le consentement de l’Utilisateur.
            <br>
        </ion-text>
        <br>

        <ion-label class="title-block">
            <strong><u>
                Durée de validité des cookies
            </u></strong>
        </ion-label>
        <br>

        <ion-text class="mt-2 text-block-style">
            Les cookies de publicité ciblée et de mesure d’audience ont une durée de validité de 13 mois maximum. Le
            consentement de l’Utilisateur sera de nouveau sollicité à l’issue de ce délai par l’affichage de la fenêtre
            intruse (pop-up) d’information.
            <br>
            Les cookies techniques de navigation expirent automatiquement lorsque l'Utilisateur ferme son navigateur.

            <br>
            <strong> Désactivation des cookies: </strong>

            Les cookies de session tels que les cookies techniques de navigation disparaissent lorsque l'Utilisateur se
            déconnecte du Site AfriFlash.

            <br>
            En revanche, les cookies permanents, comme les cookies de publicité et de mesure d'audience, demeurent sur
            le terminal de l'Utilisateur jusqu’à expiration de leur durée de vie (13 mois maximum) ou jusqu’à ce que
            l'Utilisateur les supprime à l’aide des fonctionnalités de son navigateur.
        </ion-text>
        <br>
        <ion-item>
            
        </ion-item>
    </div>
</div>
